@model IEnumerable<Listeo.Models.ApartmentViewModel>

@if (Model.Any())
{
    <div class="row">
        @foreach (var apartment in Model)
        {
            <!-- Listing Item -->
            <div class="col-lg-4 col-md-6">
                <a href="@Url.Action("ApartmentDetails","Apartments", new { id = apartment.ApartmentId })" class="listing-item-container compact">
                    <div class="listing-item">
                        <img src="@apartment.Picture" alt="">

                        <div class="listing-badge now-open">Available</div>

                        <div class="listing-item-content">
                            <div class="numerical-rating @(apartment.ReviewGrade < 3 ? "low" : "high" )" data-rating="@apartment.ReviewGrade"></div>
                            <h3>@apartment.Name <i class="verified-icon"></i></h3>
                            <span>Rooms: @apartment.TotalRooms | Adults: @apartment.MaxAdults | Children: @apartment.MaxChildren</span>
                            <div><span><b>@string.Format("€{0:N2}", apartment.Price)</b></span></div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Listing Item / End -->
        }
    </div>
}
else
{
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">
                There are currently no available apartments!
            </h4>
        </div>
    </div>
}